﻿@model List<Transport.Model.ViewModel.ViajeViewModel>
<h2>Viajes de usuario</h2>

@using (Html.BeginForm("add"))

{
    @if (!Model.Any())
    {
        <p>No existen viajes.</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Origen</th>
                    <th>Destino</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>
                            @x.Origin
                        </td>
                        <td>
                            @x.Destination
                        </td>
                        <td>@Html.ActionLink("Ver factura", "Details", "Viajes", new { id = x.UserId }, null)</td>
                    </tr>
                }

            </tbody>
        </table>
    }

    <a class="btn btn-success" href="/viajes/add">Agregar nuevo viaje</a>
}