﻿@model List<Transport.Model.ViewModel.UserViewModel>

<h2>Users</h2>
@if (!Model.Any())
{
    <p>No existen usuarios.</p>
}
else
{
    @*<table id="customers" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Viaje</th>
                        <th>Factura</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(x.FirstName, "Details", "Users", new { id = x.Id}, null)</td>
                            <td>
                                <a class="btn-link" href="/viajes">Ir a viajes</a>
                            </td>
                            <td>
                                <button data-customer-id="@x.Id" class="btn-link">Ir a facturas</button>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

            <a class="btn btn-danger" href="users/add">Nuevo Usuario</a>


        }*@

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <div class="container">
        <div class="row">


            <div class="col-md-12">

                <div class="table-responsive">


                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>

                            @*<th><input type="checkbox" id="checkall" /></th>*@
                            <th>ID</th>
                        <th>First Name</th>
                        <th>Ir a viajes</th>
                        <th>Ir a facturas</th>
                        <th>Edit</th>
                        <th>Remove</th>

                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.Id</td>
                                    <td>@Html.ActionLink(x.FirstName, "Details", "Users", new { id = x.Id }, null)</td>
                                    <td>
                                        <a class="btn-link" href="/viajes">Ir a viajes</a>
                                    </td>
                                    <td>
                                        <button data-customer-id="@x.Id" class="btn-link">Ir a facturas</button>
                                    </td>

                                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a class="btn btn-primary btn-xs" data-title="Edit" href="/users/edit/@x.Id"><span class="glyphicon glyphicon-pencil"></span></a></p></td>
                                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a class="btn btn-danger btn-xs" data-title="Delete" href="/users/delete/@x.Id"><span class="glyphicon glyphicon-trash"></span></a></p></td>
                                </tr>
                            }

                        </tbody>

                    </table>
                    <a class="btn btn-success" href="users/add">Agregar  <span class="glyphicon glyphicon-plus-sign"></span></a>

                    <div class="clearfix"></div>
                    <ul class="pagination pull-right">
                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
}



