﻿@model Transport.Model.ViewModel.UserViewModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <!-- Title Page-->
    <title>New User</title>
    <!-- Icons font CSS-->
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">
</head>
<body>
    @using (Html.BeginForm("UserEdit", "Users"))
    {
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Registration Form</h2>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    @Html.LabelFor(u => u.FirstName)
                                    @Html.TextBoxFor(u => u.FirstName, new { @class = "input--style-4", @name = "first_name" })
                                    @*<label class="label">first name</label>
                    <input class="input--style-4" type="text" name="first_name">*@
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    @Html.LabelFor(u => u.LastName)
                                    @Html.TextBoxFor(u => u.LastName, new { @class = "input--style-4", @name = "last_name" })
                                    <!-- <label class="label">last name</label>
                <input class="input--style-4" type="text" name="last_name"> -->
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    @Html.LabelFor(u => u.BirthDay)
                                    <!-- <label class="label">Birthday</label> -->
                                    <div class="input-group-icon">
                                        @Html.TextBoxFor(u => u.BirthDay, new { @class = "input--style-4 js-datepicker", name = "birthday" })
                                        <!-- <input class="input--style-4 js-datepicker" type="text" name="birthday"> -->
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <!-- <div class="input-group">
                <label class="label">Gender</label>
                <div class="p-t-10">
                    <label class="radio-container m-r-45">Male
                        <input type="radio" checked="checked" name="gender">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-container">Female
                        <input type="radio" name="gender">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div> -->
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    @Html.LabelFor(u => u.Email)
                                    @Html.TextBoxFor(u => u.Email, new { @class = "input--style-4", @name = "email" })
                                    @*<label class="label">Email</label>
                    <input class="input--style-4" type="email" name="email">*@
                                </div>
                            </div>
                            <!-- <div class="col-2"> -->
                            <!-- <div class="input-group">
            <label class="label">Phone Number</label>
            <input class="input--style-4" type="text" name="phone">
        </div> -->
                            <!-- </div> -->
                        </div>
                        @Html.HiddenFor(m => m.IsActive, new {@dataval = "true" })
                        @Html.HiddenFor(m => m.Id)
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Jquery JS-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/js/global.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>