﻿@model List<Transport.Model.ViewModel.FacturaViewModel>

<h2>Factura</h2>
@using (Html.BeginForm("add"))

{
    @if (!Model.Any())
    {
        <p>No existen viajes.</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Metodo de pago</th>
                    <th>Pago</th>
                    <th>Cambio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>
                            @x.PaymentMethod
                        </td>
                        <td>
                            @x.Payment
                        </td>
                        <td>
                            @x.Change
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <a class="btn btn-success" href="/viajes">Volver a viajes</a>
}