﻿@model Transport.Model.ViewModel.ViajeViewModel;

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>New User</title>

    <!-- Icons font CSS-->
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">
</head>

<body>

    @using (Html.BeginForm("viajes/add"))
    {
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Registration Form</h2>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    @Html.LabelFor(u => u.Origin)
                                    @Html.TextBoxFor(u => u.Origin, new { @class = "input--style-4", @name = "origin" })
                                    @*<label class="label">first name</label>
                                        <input class="input--style-4" type="text" name="first_name">*@
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    @Html.LabelFor(u => u.Destination)
                                    @Html.TextBoxFor(u => u.Destination, new { @class = "input--style-4", @name = "destination" })
                                    <!-- <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="last_name"> -->
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    @Html.LabelFor(u => u.Price)
                                    @Html.TextBoxFor(u => u.Price, new { @class = "input--style-4", @name = "price" })
                                    <!-- <label class="label">last name</label>
            <input class="input--style-4" type="text" name="last_name"> -->
                                </div>
                            </div>
                        </div>
                            <div class="col-2">
                                <!-- <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Save</button>
                        </div>

                    </div>
                </div>
            </div>
    }
    <!-- Jquery JS-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/datepicker/moment.min.js"></script>
    <script src="~/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
@*@{
        ViewBag.Title = "New";
    }
    <h2>New User</h2>
    @using (Html.BeginForm("users/add"))
    {
        @*<div class="form-group">
            @Html.LabelFor(m => m.Id)
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
        </div>*@


@*<div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.BirthDay)
        @Html.TextBoxFor(m => m.BirthDay, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BirthDay)
    </div>

    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>*@
@*  *@}
