﻿@{
    ViewData["Title"] = "Homepage";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    El Viaje Más Seguro y Cómodo del País
                    <!--<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>-->
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/map.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Viajes a todos los lugares del país
                    <!-- <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                         Learn More
                     </a>-->
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/bus_driver.jpeg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Ven y disfruta junto a nosotros de la mejor experiencia mientras viajas!
                    <!-- <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                         Learn More
                     </a> -->
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="text-align:center">Salida Autobuses</h2>
        <ul>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Salida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Santiago</th>
                        <td>Santo Domingo</td>
                        <td>18:30 P.M</td>
                    </tr>
                    <tr>
                        <th scope="row">La Vega</th>
                        <td>Santo Domingo</td>
                        <td>19:00 P.M</td>
                    </tr>
                    <tr>
                        <th scope="row">Santo Domingo</th>
                        <td>La Vega</td>
                        <td>19:30 P.M</td>
                    </tr>
                </tbody>
            </table>
        </ul>
    </div>
    <div class="col-md-6">
        <div style="background-color:rgba(8, 72, 160, 0.8); border-radius:8px; margin-top:5px; color:aliceblue; padding-top:3px; padding-bottom:3px; margin-top:5px; border:2px solid #333333">
            <h2 style="text-align:center; color:black; border-bottom:3px solid #333333; padding-bottom:10px">Novedades</h2>
            <ul style="line-height:35px; font-size:18px">
                <li>Todos los martes y jueves viaje Santo Domingo - Santiago especial 2x1.</li>
                <li>Especial Familiar: Ven con dos personas mas y la tercera sale gratis.</li>
            </ul>
        </div>
    </div>
</div>
